/*font-family: brandon-grotesque, sans-serif;
font-family: 'brandon-grotesque', sans-serif;*/

@font-face {
    font-family: 'brandon-grotesque';
    src: url(../fonts/Brandon_bld.otf);
}

@font-face {
    font-family: 'brandon-grotesque';
    src: url(../fonts/Brandon_light.otf);
}

@font-face {
    font-family: 'brandon-grotesque';
    src: url(../fonts/Brandon_med.otf)
}

@font-face {
    font-family: 'Cubano';
    src: url(../fonts/Cubano-Regular.ttf)
}



* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'brandon-grotesque', sans-serif;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bold {
    font-weight: 700;
}

/*header_and_banner*/

.header_and_banner {
    position: relative;
    min-height: 620px;
    color: #ffffff;
}

#header_banner_background {
    position: absolute;
    min-height: 620px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#header_banner_background_overlay {
    position: absolute;
    min-height: 620px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.wrapper {
    position: absolute;
    width: 1000px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*header start*/

header {
    overflow: hidden;
    padding: 42px 0;
    width: 960px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.header_logo {
    width: 0%;
    float: left;

}

.header_logo img {
    padding-right: 10px;
}

.header_logo h1 {
    font-size: 24.84px;
    font-family: 'CUBANO', sans-serif;
    font-weight: normal;
}

.header_nav {
    float: right;
}

.header_nav ul {
    float: right;
}

.header_nav ul li {
    float: left;
    list-style: none;
}

.header_nav ul a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    color: #ffffff;
}

/*banner start*/

.banner {
    text-align: center;
    font-family: 'brandon-grotesque', sans-serif;
     width: 960px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.banner p {
    font-size: 32px;
    font-weight: normal;
    padding-top: 113px;
}

.banner h1 {
    font-size: 66px;
    font-weight: bold;
    padding: 50px 0;
    text-transform: uppercase;

}

.banner_button button {
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
    background: transparent;
    border: none;
    border: 1px solid #ffffff;
    min-height: 62px;
    width: 237px;
    border-radius: 3px;
}

/* description start*/

.description1 {
    min-height: 333px;
    width: 1400px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #ffffff;
    overflow: hidden;
    font-family: 'brandon-grotesque', sans-serif;

}

.description2 {
    background-color: #fafafa;
}

.description_wrapper {
    padding: 100px 0;
    min-height: 267px;
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    /*
    position: absolute;
    left: 0;
    right: 0;
*/
}

.description_text {
    width: 623px;
    text-align: left;
}

.description_text h1 {
    text-align: left;
    font-size: 60px;
    font-weight: 200;
    font-family: 'brandon-grotesque', sans-serif;
    color: #222222;
}

.description_text_content {
    color: #777777;
    font-size: 18px;
    padding: 50px 0;
}

.description_text p {
    color: #777777;
    font-size: 18px;
}

.description_pic {
    padding-top: 50px;
}

/* description end*/

/*service start*/

.service {
    min-height: 490px;
    padding: 100px 0;
    background-color: #ffffff;
    font-family: 'brandon-grotesque', sans-serif;
     width: 960px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.service_wrapper {
    width: 906px;
    min-height: 416px;
    margin: 0 auto;
    overflow: hidden;
}

.single_service {
    width: 390px;
    float: left;
    margin-bottom: 50px;
}

.single_logo {
    min-height: 200px;
    float: left;
    margin-right: 20px;
    position: relative;
}

.single_logo_shape {
    width: 75px;
    min-height: 75px;
    background-color: #222222;
    border-radius: 100px;

}

.single_logo_shape img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
    top: 15px;
}

.single_text {
    font-family: 'brandon-grotesque', sans-serif;
}

.single_text h1 {
    font-size: 22px;
    font-weight: normal;
}

.single_text p {
    color: #9b9b9b;
    font-size: 18px;
    padding: 20px 0;
}

.single_service:nth-child(odd) {
    margin-right: 110px;
}

#camera-icon {
    margin-top: 5px;
}

#video-icon {
    margin-top: 10px;
}

/*service end*/

/*clients start*/

.awesome_clients {
    min-height: 810px;
    background-color: #fafafa;
    width: 1400px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: 'brandon-grotesque', sans-serif;
}

.awesome_clients_wrapper {
    width: 1020px;
    margin: 0 auto;
}

.awesome_clients_text {
    text-align: center;
    padding-top: 100px;
    font-weight: normal;
}

.awesome_clients_text_title {
    font-size: 60px;
    font-weight: 400;
    font-family: 'brandon-grotesque', sans-serif;
}

.awesome_clients_content {
    color: #777777;
    font-size: 22px;
}

.awesome_clients_text span {
    font-weight: 600;
}

.awesome_clients_speech {
    overflow: hidden;
    padding: 50px 0;
}

.awesome_clients_speech_circle {
    min-height: 230px;
    width: 230px;
    background-color: black;
    border-radius: 150px
}

.awesome_clients_speech_img {
    width: 642px;
    min-height: 180px;
    background-image: url(../images/speak-box.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 115px;
}

.awesome_clients_speech_img_text {
    padding: 40px 80px;
}

.clients_text {
    font-size: 26px;
    color: #9b9b9b;
}

.clients_name {
    font-size: 20px;
    color: #7690c5;
}


.awesome_clients_speech_img1 {
    width: 642px;
    /*    border: 1px solid red;*/
    min-height: 180px;
    background-image: url(../images/speak-box-rotate1.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 22px;

}

.awesome_clients_speech_img_text1 {
    padding: 40px 80px;
}

.clients_text1 {
    font-size: 26px;
    color: #9b9b9b;
}

.clients_name1 {
    font-size: 20px;
    color: #7690c5;
}

/*clients start*/

/*website logo start*/

.website_logo {
    min-height: 165px;
    width: 1400px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #ffffff;
    font-family: 'brandon-grotesque', sans-serif;
}

.website_logo_wrapper {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 70px 0;
}

.single_website_logo {
    width: 200px;
}

/* website logo end*/

/*  team section start*/

.team {
    min-height: 800px;
    overflow: hidden;
    width: 1400px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #111111;
    color: #ffffff;
    font-family: 'brandon-grotesque', sans-serif;
}

.team_text_wrapper {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.team_title {
    text-align: center;
    padding: 100px 0 70px 0;
}

.team_title h1 {
    font-size: 60px;
    font-weight: 100;
}

.team_title p {
    font-size: 22px;
    color: #707070;
}


.team_members {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.single_member {
    overflow: hidden;
    width: 266px;
    text-align: center;

}

.single_member_img {
    width: 236px;
    min-height: 236px;
    border: 4px solid #ffffff;
    border-radius: 150px;
}

.single_member_text h1 {
    font-size: 18px;
    font-weight: 300;
}

.single_member_text p {
    font-size: 16px;
    font-weight: 300;
}

.single_member_logo {
    overflow: hidden;
    width: 160px;
    margin: 0 auto;
}

.single_team_icon {
    width: 41px;
    min-height: 41px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    float: left;
    margin-right: 8px;
}

.single_team_icon img {
    margin-top: 12px;
}

#Uku_Mason {
    margin-left: 80px;
}

.team_footer {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    border: 1ps solid red;
}

.team_footer P {
    padding: 45px;
}

/*team section end*/

/*user query start*/

.user_query {
    width: 1400px;
    min-height: 565px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #7690c5;
    color: #ffffff;
    font-family: 'brandon-grotesque', sans-serif;
}

.user_query_wrapper {
    width: 960px;
    min-height: 380px;
    margin: 0 auto;
    padding: 100px;
    border-bottom: 1px solid #87a0d2;
}

.common_query {
    width: 480px;
    float: left;
}

.say_hello_title p {
    font-size: 60px;
    font-weight: 300;
    text-align: left;
}

.say_hello_content p {
    font-size: 18px;
    text-align: left;
}

.say_hello_adresses {
    overflow: hidden;
}

.single_adresses {
    overflow: hidden;
    padding-top: 42px;
    float: left;
    width: 226px;
    min-height: 40px;
}

.single_adresses_img {
    float: left;
    width: 50px
}

.single_adresses_text {
    padding-top: 2px;
    font-size: 18px;
}

#footer_mail_icon {
    padding-top: 5px;
}

.form_fill_up {
    padding-top: 20px;
}

.form_fill_up input {
    border: none;

}

#name {
    width: 458px;
    min-height: 55px;
    font-size: 18px;
}

#mail {
    width: 458px;
    min-height: 55px;
    margin: 30px 0;
    font-size: 18px;
}

#textbox {
    width: 458px;
    min-height: 210px;
    font-size: 18px;
}

/*.footer start*/

footer {
    width: 1400px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-height: 80px;
    color: #ffffff;
    background-color: #7690c5;
    font-family: 'brandon-grotesque', sans-serif;
}

.footer_text {
    margin: 0 auto;
    font-size: 16px;
    width: 330px;
    padding: 30px 0;
}